---
title: "{{ module.title }}{% if module.subtitle is defined and module.subtitle %}: {{ module.subtitle }}{% endif %}"
{% if module.date is defined %}date: "{{ module.date }}"
{% endif %}author: "{{ course.instructors | map(attribute='name') | join(', ') }}"
organization: "{{ course.organization.institution }}"
institute: "{{ course.organization.institute }}"
email: "{{ course.instructors | selectattr('email', 'defined') | map(attribute='email') | join(', ') }}"
course: "{{ course.title }}"
term: "{{ course.semester }}"
lang: "{{ course.language | default('en') }}"
format:
  html:
    argdown:
      mode: web-component
      sourceHighlighter: web-component
      config: ../../argdown.config.json
{% if 'pdf' in (artifact.output_formats | default([])) %}  pdf:
    documentclass: article
    papersize: a4
    include-in-header: ../../assets/latex/_handout-packages.tex
    template-partials:
      - ../../assets/latex/before-body.tex
    syntax-definitions:
      - ../../assets/pandoc/argdown.xml
    syntax-highlighting: ../../assets/pandoc/argdown.theme
{% endif %}filters:
  - ../../node_modules/.bin/argdown-filter
argdown:
  mode: inline
  format: svg
  config: ../../argdown.config.json
reference-section-title: "{{ i18n.notes.references }}"
---

## {{ i18n.notes.notes }}

TODO: Add lecture notes.

## {{ i18n.notes.key_concepts }}

TODO: Add key concepts.

## {{ i18n.notes.references }}

TODO: Add references.
