---
title: "{{ module.title }}{% if module.subtitle is defined and module.subtitle %}: {{ module.subtitle }}{% endif %}"
{% if module.date is defined %}date: "{{ module.date }}"
{% endif %}author: "{{ course.instructors | map(attribute='name') | join(', ') }}"
organization: "{{ course.organization.institution }}"
institute: "{{ course.organization.institute }}"
email: "{{ course.instructors | selectattr('email', 'defined') | map(attribute='email') | join(', ') }}"
course: "{{ course.title }}"
term: "{{ course.semester }}"
lang: "{{ course.language | default('en') }}"
format:
  revealjs:
    theme: [default, ../../assets/styles/slides.scss]
    slide-number: true
    # embed-resources: true (not compatible with argdown using web components)
    preview-links: auto
    pdfSeparateFragments: true
    logo: ../../assets/images/logo.png
    controls: true
{% if 'beamer' in (artifact.output_formats or []) %}  beamer:
    theme: Madrid
    colortheme: seahorse
    include-in-header: ../../assets/latex/_beamer-packages.tex
    syntax-definitions:
      - ../../assets/pandoc/argdown.xml
    syntax-highlighting: ../../assets/pandoc/argdown.theme
{% endif %}filters:
  - ../../node_modules/.bin/argdown-filter
argdown:
  sourceHighlighter: web-component
  mode: web-component
  config: ../../argdown.config.json
---

## Outline

TODO: Replace with section overview.

## Section

TODO: Add slide content.

## Summary

TODO: Summarise key points.

## First slide

The Argdown source:

<!-- you might have to customize the Reveal js css styles for this to look good -->

```argdown
===
webComponent:
    withoutHeader: true
    views:
        source: true
        map: false
sourceHighlighter:
    removeFrontMatter: true
===

[s1]
    <- <a1>
```

## Second slide

The map:

```argdown-map
[s1]
    <- <a1>
```


## Highlighted Premise-conclusion-structures

```argdown
===
webComponent:
    withoutHeader: true
    views:
        source: true
        map: false
sourceHighlighter:
    removeFrontMatter: true
===

(1) All humans are mortal.
(2) Socrates is a human.
--
Universal instantiation, Modus Ponens
{uses: [1,2], logic: ["deductive", "predicate logic"]}
--
(3) Socrates is mortal.
```

